.alert{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    flex-direction: column;
}
.alert button{
    padding: 10px 30px;
    background-color: #000;
    border: none;
    border-radius: 8px;
    margin-top: 30px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
}