.register-user-body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1579547621113-e4bb2a19bdd6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=678&q=80");
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}
.register-user-body h1{
    text-align: center;
    color: #fff;
    padding: 30px 0px;
}
.register-user-body .login-container
{
    height: 400px;
    width: 40vw;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
  
}
.register-user-body .login-container .form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    flex-direction: column;
}
.register-user-body .login-container .form input{
    width: 25vw;
    border: none;
    border-bottom: 1px solid #000;
    margin: 10px 0px;
    font-size: 20px;
}
.register-user-body .login-container .form input:focus{
    outline: none;
    border-bottom: 2px solid purple;
}
.register-user-body .login-container .form input[type="submit"]
{
    background-color: rgb(116, 0, 183);
    color: #fff;
    cursor: pointer;
    padding: 10px 0px;
}